<!-- ********************** BANNER ********************* -->

<div class="banner paula-banner-eventos" id="top">

  <div class="banner-content-eventos">
    <h2 class="text-center"></h2>
    <i class="fa fa-angle-down"></i>
  </div>
</div>

    <h2 class="text-center" id="title-eventos">Eventos</h2>

<div id="startchange">


<div class="eventos">
<div class="container">
  <div class="row">

    <div class="col-xs-12 hidden-xs col-sm-6 col-md-5">
      <%= image_tag("IMG_3757.JPG", alt:"") %>
      <br>
      <br>
      <%= image_tag("IMG_3959.JPG", alt:"") %>
      <br>
      <br>
      <%= image_tag("IMG_4098.JPG", alt:"") %>
      <br>
      <br>
    </div>


    <div class="col-xs-12 hidden-xs col-sm-6 col-md-7">
    <br><br><br>
      <p>
        Por su ambiente encantador y acogedor, el <B>Bistro Paula Nani</B> es el lugar perfecto para su cena de <B>cumpleaños, bautismo, matrimonio, reunión profesional o cualquier</B> otro evento importante en su vida.
        <br><br>
        A su lado en cada momento, todo el equipo le ayuda a proponer y elaborar los platos más <B>adaptados</B> a sus gustos y precios.
        <br><br>
        No dude en contactarnos para cualquier otro tipo de prestación, <B>de la más clásica a la más original</B>..  Cóctel, Happy hour, aperitivo, After work, bufet/bufé, comida tradicional….
      </p>

<br><br><br>
    <div class="evento-btn text-center">
      <B><%= link_to "Contactarnos", new_contact_path, id:"contactos-btn" %></B>
    </div>

    </div>
  </div>
</div>



<!-- *********** XS ******** -->

<div class="container">
  <div class="row">


    <div class="col-xs-12 col-sm-6 hidden-sm hidden-md hidden-lg">
     <br><br>
      <p>
        Por su ambiente encantador y acogedor, el <B>Bistro Paula Nani</B> es el lugar perfecto para su cena de <B>cumpleaños, bautismo, matrimonio, reunión profesional o cualquier</B> otro evento importante en su vida.
        <br><br>
        A su lado en cada momento, todo el equipo le ayuda a proponer y elaborar los platos más <B>adaptados</B> a sus gustos y precios.
        <br><br>
        No dude en contactarnos para cualquier otro tipo de prestación, <B>de la más clásica a la más original</B>..  Cóctel,  Happy hour , aperitivo, After work, bufet/bufé , comida tradicional….
      </p>

<br><br><br>

    <div class="evento-btn text-center">
      <B><%= link_to "Contactarnos", new_contact_path, id:"contactos-btn" %></B>
    </div>

  </div>



  <div class="col-xs-12 col-sm-6 hidden-sm hidden-md hidden-lg">
      <br><br><br><br>

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479525964/IMG_3757_lbmpoa.jpg' %>
      <br><br>
      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526077/IMG_3959_ayq4jf.jpg' %>
      <br><br>
      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479525968/IMG_4098_om9ohu.jpg' %>
      <br><br>
  </div>


  </div>
</div>





</div>

<br><br><br><br>

</div>
