<!-- ********************** BANNER ********************* -->

<div class="banner paula-banner-menu" id="top">


</div>

    <h2 class="text-center" id="title-menu">Menu</h2>

<div id="startchange">



<section class="page__content  js-post-gallery  cf">
  <div class="su-spacer" style="height:20px"></div>
    <h3 style="text-align: center; color: #D1B182;">Venga a probar nuestra cocina francesa y su inspiración peruana</h3>
<br><br><br>

    <div class="pixcode  pixcode--grid  grid  ">
     <div class="grid__item six-twelfths palm-one-whole ">

<div class="container">
  <div class="row">

  <div class="col-xs-12">
    <h2 class="menu-list__title"><span style="color: #D1B182;">Entradas</span> / <span style="color: #999999;">Starters</span></h2>
    <hr class="separator">
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479525870/entradas1_kyqdq7.png' %>


 <!--
     <ul class="menu-list__items">
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">CEVICHE PAULA NANI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.17.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Corvina cortada en cubos, jugo de limón, crema de pimientos amarillos, cilantro y rocoto 8oz</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">CEVICHE TROPICAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.17.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Corvina cortada en cubos, marinada finamente con jugo de maracuya y limón, naranja y cilanto 8oz</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">CEVICHE MIXTO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.17.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Pulpo, camaron y calamar cocidos suavemente y marinados con jugo de limón y salsa ponzu 8oz</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">DEGUSTATION DE CEVICHE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.20.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Ceviche mixto, Tropical y Paula Nani 10oz</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">TARTAR DE ATUN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.18.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Lomo de atun cortado en cuadritos marinado en salsa de soya, aceite de sesamo y salsa teriyaki</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
  </div>




  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526081/entradas2_enfy4r.png' %>


 <!--
     <ul class="menu-list__items">
      <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">TARTAR DE SALMON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.18.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Salmon cortado en cubos marinado en limón, salsa de soya, aceite de sesamo y mango</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">TIRADITO DE PAULA NANI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.21.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Corvina, atun y salmon con aceitede oliva, balsamico y pesto</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PULPO AL SARTEN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.21.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Tentaculos de pulpo salteados con finas hierbas, acompañado de papines a la huancaina</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">CARPACCIO DE RES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.18.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Filete de res Angus cortado finamente, laminas de parmesano, aceite de oliva y limón</span></span></p>
      </li>
      <br>
      <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">FRITURA DE PESCADO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.17.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Calamar, arañitas</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
 </div>


 <div class="col-xs-12">
 <br><br><br><br>
    <h2 class="menu-list__title"><span style="color: #D1B182;">Ensaladas</span> / <span style="color: #999999;">Salads</span></h2>
  <hr class="separator">
</div>

 <div class="col-xs-12 col-sm-6">

  <div class="su-divider su-divider-style-default" style="margin:30px 0;border-width:3px;border-color:#fff"></div>
  <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526110/salad1_xbzm1h.png' %>


<!--
    <ul class="menu-list__items">
      <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">ENSALADA DE PERA Y QUESO BRIE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.18.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Lechuga romana con trocitos de pera, queso brie, frutos secos y aderezo de mostaza, miel y naranja</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
</div>

<div class="col-xs-12 col-sm-6">

  <div class="su-divider su-divider-style-default" style="margin:30px 0;border-width:3px;border-color:#fff"></div>
  <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526104/salad2_tf3b5f.png' %>


  <!--

    <ul class="menu-list__items">
      <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">ENSALADA NICOISE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.18.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Lechuga romana, atun sellado finamente, huevo cocido, aceitunas kalamata, anchoas y vegetales frescos con un aderezo a base de limon y aceite de oliva</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
  </div>

<br>


  <div class="col-xs-12">
   <br><br><br><br>
    <h2 class="menu-list__title"><span style="color: #D1B182;">Platos Fuertes</span> / <span style="color: #999999;">Dishes</span></h2>
    <hr class="separator">
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

          <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526102/platos1_zqijgz.png' %>


<!--
     <ul class="menu-list__items">
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PESCA DEL DIA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.22.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">En salsa francesa o en salsa de queso cabra</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">SALMON SIMPLEMENTE A LA PLANCHA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.22.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">En crema brocolis y patatas</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">TATAKI DE ATUN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.23.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Lomo de atun con costra de pimienta al grill, vegetales salteados y reduccion de soya</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">ARROZ MELOSO DE MARISCOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.27.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Arroz arborio cocido con mariscos frescos de temporada</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">LANGOSTA ENTERA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.42.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Segun la temporada</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">CENTOLLO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.42.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Segun la temporada</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

          <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526112/platos2_cmdjuq.png' %>


<!--

     <ul class="menu-list__items">
      <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">ENTRAÑA ANGUS 12oz&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.33.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Preparada al grill y acompagñada de su salsa chimichurri</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">LAS 3 HAMBURGUESAS DE PAULA NANI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.22.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Carne Angus con el toque de Paula Nani acompañadas de papas fritas</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">BROCHETAS ESPECIAL DE PAULA NANI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.23.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Con filete de carne Angus con papas fritas</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
 </div>



  <div class="col-xs-12">
   <br><br><br><br>
    <h2 class="menu-list__title"><span style="color: #D1B182;">Guarniciones</span> / <span style="color: #999999;">Accompaniments</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:20px;">B/.5.00</span></h2>
    <hr class="separator">
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479525969/accomp1_gtb2oq.png' %>


<!--
     <ul class="menu-list__items">
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">GRATIN DAUPHINOIS</span><span class="dots"></span></h4>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">RATATOUILLE</span><span class="dots"></span></h4>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PAPAS FRITAS</span><span class="dots"></span></h4>
      </li>
      <br>
    </ul>

-->

  </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479525862/accomp2_sybnvd.png' %>


<!--
     <ul class="menu-list__items">
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PURE</span><span class="dots"></span></h4>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">LECHUGA ROMANA EN ACEITE DE OLIVA Y LIMON</span><span class="dots"></span></h4>
      </li>
      <br>
    </ul>

-->

  </div>
</div>






  <div class="col-xs-12">
   <br><br><br><br>
    <h2 class="menu-list__title"><span style="color: #D1B182;">Especialidades de la casa</span> / <span style="color: #999999;">Specialities</span></h2>
    <hr class="separator">
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526109/specialite1_mwulyb.png' %>


<!--
     <ul class="menu-list__items">
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">AIOLI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.19.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Pesca del dia escalfado con sus vegetales, acompañado de su salsa aïoli "ajo"</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">MOULES MARINIERES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.19.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Mejillones en salsa blanca aromatizada con cilantro</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">LA TOMATE FARCIE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.19.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Tomate relleno de carne Angus, toque Paula Nani acompañado de arroz</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">BOUILLABAISSE CON ROUILLE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.28.00</span><span class="dots"></span></h4>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">SOURIS D'AGNEAU&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.35.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Codillo de cordero confitado en su salsa</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526110/specialite2_bfcltb.png' %>


<!--
     <ul class="menu-list__items">
      <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">FOIE GRAS MI CUIT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.36.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Con su pan rústico y su marmelada "Bonne maman"</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">FONDUE BOURGUIGNONNE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.21.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Acompañado de papas fritas, ensalada verde con sus 3 salsas</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">MAGRET DE CANARD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.28.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Pechuga de pato orgánico con salsa de pimienta negra o salsa naranja</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">ESCARGOTS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.35.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">12 unidades a la mantequilla con ajo</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
 </div>





  <div class="col-xs-12">
   <br><br><br><br>
    <h2 class="menu-list__title"><span style="color: #D1B182;">Sushi</span> <span style="color: #999999;"></span></h2>
    <hr class="separator">
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526112/sushi1_vs2m7x.png' %>


<!--
     <ul class="menu-list__items">
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">VOLCANO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.16.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Nory, atún rojo, queso crema, cebollina, kany, toppin de kany y wakame</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">HOT PASSION&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.16.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Salmon, queso crema, cebollina, masago, camarón</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">FUJI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.18.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Camarón, queso crema, cebollina, kany, masago, toppin de tempura de camarón</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">CARIBE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.16.00</span><span class="dots"></span></h4>
           <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Camarón, cebollina, mango, ajonjolí, salsa spicy</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526106/sushi2_tsla1e.png' %>

<!--

     <ul class="menu-list__items">
      <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">ATLANTICO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.18.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Kany, camarón, salmon, salsa spicy</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">NIGUIRI COMBINACION&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.18.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Salmon, atún, pulpo</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">EL BOSQUE DE JAPON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.16.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Kany, masago, wakame, mayonesa japonesa</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PRIMAVERA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.16.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Lamina de arroz, lechuga, masago, salmon, aguagate, pepino, salsa spicy</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
 </div>




  <div class="col-xs-12">
   <br><br><br><br>
    <h2 class="menu-list__title"><span style="color: #D1B182;">Pasta</span> <span style="color: #999999;"></span></h2>
    <hr class="separator">
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526104/pasta1_prnl7d.png' %>


<!--
     <ul class="menu-list__items">
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PASTA CON SALMON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.21.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Pasta con salmon y salsa de queso cabra</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PASTA CON ALMEJAS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.21.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Pasta con salsa al ajillo</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PASTA CON VEGETALES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.19.00</span><span class="dots"></span></h4>
      </li>
      <br>
    </ul>

-->

  </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526095/pasta2_dvfdfx.png' %>

<!--
     <ul class="menu-list__items">
      <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PASTA DE LANGOSTA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.29.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Según la temporada</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PASTA DE CENTOLLO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.29.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Según la temporada</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PASTA CON TRUFAS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.36.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px; align: right;">Trufas negras o blancas según temporada</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
 </div>






<div class="col-xs-12">
 <br><br><br><br>
    <h2 class="menu-list__title"><span style="color: #D1B182;">Menu snacking</span><span style="color: #999999;"></span></h2>
    <hr class="separator">
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526108/snack1_ku7rfd.png' %>


<!--
     <ul class="menu-list__items">
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">CALAMAR AL AJILLO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.13.00</span><span class="dots"></span></h4>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">COCTEL DE CAMARON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.14.00</span><span class="dots"></span></h4>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">ENSALADA CESAR CON CAMARON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.14.00</span><span class="dots"></span></h4>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">ENSALADA CESAR CON POLLO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.13.00</span><span class="dots"></span></h4>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">CLUB SANDWICH DE POLLO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.13.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Con papas fritas</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526106/sushi2_tsla1e.png' %>


<!--
     <ul class="menu-list__items">
      <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">CLUB SANDWICH DE SALMON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.14.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Salmon ahumado con papas fritas</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PASTA BOLOÑESA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.14.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Con carne Angus</span></span></p>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">PASTA DE MARISCOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.14.00</span><span class="dots"></span></h4>
      </li>
      <br>
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">HAMBURGUESA DE CARNE ANGUS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.14.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Con papas fritas</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
 </div>





<div class="col-xs-12">
 <br><br><br><br>
    <h2 class="menu-list__title"><span style="color: #D1B182;">Postres</span> / <span style="color: #999999;">Desserts</span></h2>
    <hr class="separator">
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="menu-list menu-list__dotted">

      <%= image_tag 'http://res.cloudinary.com/roritobach/image/upload/v1479526114/postre_kpohdg.png' %>


<!--
     <ul class="menu-list__items">
       <li class="menu-list__item">
          <h4 class="menu-list__item-title"><span class="item_title">POSTRES DEL DIA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B/.10.00</span><span class="dots"></span></h4>
          <p class="menu-list__item-desc"><span class="desc__content"><span style="color: #999999; font-size: 15px;">Elaborados en casa</span></span></p>
      </li>
      <br>
    </ul>

-->

  </div>
</div>




</div>
</div>
</div>
</div>


</section>


<br><br><br><br><br><br><br>











</div>
