<%= simple_form_for(@table) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :capacite %>
    <%= f.input :numero %>
    <%= f.input :reserver %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
